* {
  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  position: relative;
}

/* navegacion */
.nav {
  position: relative;
  z-index: 11;
}

.nav__principal {
  background-color: #ffffff33;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.nav__logo {
  flex: 2;
}
.nav__img {
  width: 5rem;
  margin: 2px auto;
  display: block;
}

.nav__list {
  font-size: 25px;
  flex: 3;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.nav__li {
  padding: 0 50px 0 50px;
  position: relative;
}

.nav__li > a {
  color: #e7ebff;
}

.nav__li:nth-child(1):hover > a::after {
  position: absolute;
  content: " ";
  background-color: #8291ff;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -5px;
  transition: all 4s ease-in-out;
}
.nav__li:nth-child(2):hover > a::after {
  position: absolute;
  content: " ";
  background-color: #8291ff;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -5px;
}
.nav__li:nth-child(3):hover > a::after {
  position: absolute;
  content: " ";
  background-color: #8291ff;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -5px;
}

.nav__divButton {
  margin: 15px;
  flex: 3;
}
.nav__button {
  width: 200px;
  font-size: 25px;
  margin: 0px auto;
  display: block;
  border-radius: 20px;
}

/* background main */

.main {
  top: 0;
  z-index: 10;
  position: absolute;
  background-image: url("../Assets/img/images/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main__text {
  width: 42%;
  margin: 40vh 0px 0vh 70px;
  color: aliceblue;
  text-align: justify;
}
.main__textMainButton {
  font-size: 19px;
}
.main__textMain:nth-child(1) {
  width: 70%;
  font-size: 16px;
  text-align: start;
}
.main__textMain:nth-child(2) {
  width: 85%;
  font-size: 19px;
}
.main__button {
  font-size: 30px;
  width: 280px;
  height: 40px;
  margin: 0px 0px 0px 10%;
  border-radius: 50px;
}

/* buttons */
button {
  color: #e7ebff;
  cursor: pointer;
  background-color: #2b2dfc;
  transition: all 0.2s linear;
}
button:hover {
  box-shadow: 2px 2px 2px 0.1px #00000052;
  font-weight: bold;
  background-color: #1c19e8;
  color: black;
}

/* responsive smarthphones */

@media (width <= 920px) {
  /* nav smarthpone responsive */
  .nav__logo {
    display: none;
  }
  .nav__list {
    font-size: 25px;
    padding: 0 0 0 0;
  }
  .nav__li {
    padding: 0 3% 0 3%;
  }

  .nav__divButton {
    display: none;
  }

  /* main smartphones responsive */
  .main__text {
    display: flex;
    width: auto;
    margin: 30vh 15px;
    color: aliceblue;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .main__textMainButton {
    text-align: center;
    font-size: 1.5rem;
  }
  .main__textMain:nth-child(1) {
    margin: 10px auto;
    font-size: 21px;
    text-align: center;
  }
  .main__textMain:nth-child(2) {
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
  }
  .main__button {
    font-size: 30px;
    margin: 10px auto;
  }
}
